<!DOCTYPE html>
<html>
 
<head>
    <title>Yatch are us</title>
    <!--This is how we link to our CSS file in our static folder-->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
</head>
 
<body>  
    <header>
        <nav class="navbar">
            <a href="{{url_for('index')}}">Home</a>
            <a href="#">About</a>
            <a href="#">servises</a>
            <a href="#"> servises</a>
            <a href="#">contacet</a>
            <a href="#">blog</a>
        </nav>

    </header>
    
 <!-- What appears before block body can be used as a basic template again -->  
{% block header %}

<h2 class="homeHeader">Welcome to yatch are us</h2>

{% endblock %}
{% block body %}

{% endblock %}
{% block content %}
<p class="homeDetails">xplore our comprehensive Yacht Database, your 
    ultimate resource for yacht enthusiasts and buyers. With a wide variety 
    of yachts categorized by platform, genre, and year, you can easily find 
    the perfect vessel to suit your needs. Each listing features detailed 
    specifications, including dimensions, engine types, and high-quality 
    images, giving you a thorough understanding of every yacht. Our user-friendly
     search functionality allows for seamless navigation, with advanced 
     filtering options for price, location, and specific features. We ensure all 
     information is regularly updated for accuracy and reliability. 
     Additionally, our management tools enable you to add, edit, and 
     delete entries effortlessly, making it easy to manage your fleet 
     or brokerage listings. Join us in exploring the world of yachting 
     and discover your ideal yacht today!</p>
{% endblock %}
</body>
 
</html>