{% extends 'home.html' %}
{% block header %}
<head>
    <title>New Boat</title>
    
</head>
<body>
    <h2 class="homeHeader">New Yatch</h2>
    <h4 class="homeDetails">Please enter aunaccounted for yatch info</h4>
{% endblock %}
{% block content %}
<form method="post">
    <table>
        <thead>
            <tr>
                <th>yatch_name</th>
                <th>manufacturer</th>
                <th>model</th>
                <th>year_manufacture</th>
                <th>length</th>
                <th>price</th>
            </tr>
        </thead>
        <tbody>
            <td><input type="text" name ="yatch_name" id="yatch_name" value="{{yatch.yatch_name}}" required ></td>

            <td><input type="text" name="manufacturer" id="manufacturer" value="{{yatch.manufacturer}}" required></td>

            <td><input type="text" name="model" id="model" value="{{yatch.model}}" required></td>

            <td> <input type="Integer" name="year_manufacture" id="year_manufacture" value="{{yatch.year_manufacture}}"></td>

            <td><input type="Integer" name="length" id="length" value="{{yatch.length}}"></td>

            <td><input type="Integer" name="price" id="price" value="{{yatch.price}}"></td>
        </tbody>
    </table>

    <div class="center">
        <button type="submit">submit</button>
    </div>
</form>
{% endblock %}